{% extends 'base.html' %}
{% block content %}
{% load user_agents %}

{% if request|is_pc or request|is_tablet %}

<table class="contact">
  <tr>
    <td>
      <img src="/static/contact.jpg">
    </td>
    <td>
      <h3>Contact</h3>
      If you have any questions or suggestions <br />
      just call me or drop me a line.
      <br /><br />

      <h6>Ewa Dwornik</h6>
      <a href="mailto:nofutureyoga@gmail.com">nofutureyoga@gmail.com</a><br />
      +354 7837141 <br />
      <a href="https://www.facebook.com/nofutureyoga" class="fa fa-facebook" target="_blank"></a>
      <a href="https://www.instagram.com/nofuture.yoga/" class="fa fa-instagram" target="_blank"></a>
    </td>
  </tr>
</table>
{% endif %}

{% if request|is_mobile %}
<section class="contact">
  <img src="/static/contact.jpg"><br /><br />
  Ewa Dwornik
  <a href="mailto:nofutureyoga@gmail.com">nofutureyoga@gmail.com</a><br />
  +354 7837141 <br />
  <a href="https://www.facebook.com/nofutureyoga" class="fa fa-facebook" target="_blank"></a>
  <a href="https://www.instagram.com/nofuture.yoga/" class="fa fa-instagram" target="_blank"></a>

</section>




{% endif %}



{% endblock %}