{% extends 'base.html' %}
{% block content %}
<section class="rules">
  You need to guess if a number is prime or not. You can gain or loose a following amount of points, if you answer correctly or not. You have only one minute. Use your time wisely.<br><br>
  <li>Easy level - 1 points</li>
  <li>Medium level - 3 points</li>
  <li>Hard level - 5 points</li>
  <li>Super hard level - 7 points</li><br>
  I you won't answer within 5 seconds you loose 5 points.<br><br>
</section>
<section class="game">

  <button id="easy">Easy</button>
  <button id="medium">Medium</button>
  <button id="hard">Hard</button>
  <button id="superhard">Super hard</button>

  <div id="leveltype">
    What do you choose?
  </div>
  <div id="yesorno">
    <button id="yes">Yes</button>
    <button id="no">No</button>
  </div>
  <span id="result"></span>
</section>
{% endblock %}