{% extends 'base.html' %}
{% block content %}

<section class="game">
  Guess if a number is prime or not. <br>
  It's just fun, nothing more than that.<br><br>
  <button type="button" id="explanation">What is a prime Number?</button><br><br>

  <button id="easy">Easy</button>
  <button id="medium">Medium</button>
  <button id="hard">Hard</button>
  <button id="superhard">Super hard</button>

  <div id="leveltype">
    What do you choose?
  </div>

  <div id="yesorno">
    <button id="yes">Yes</button>
    <button id="no">No</button>
  </div>

  <span id="result"></span><br>

  <span id="divisors"></span><br>

  <div id="again">
    <button onClick="window.location.reload();">Try again</button>
  </div>

</section>



{% endblock %}