{% extends 'base.html' %}
{% block content %}

<section id="cards-home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/contact">
          <article class="photos-front">
            <img src="/static/rishikesh.jpg" alt="contact" />
            <h5>Contact</h5>
          </article>

        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/yoga">
          <article class="photos-front">
            <img src="/static/yoga.jpg" alt="yoga" />
            <h5>Yoga</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/shop">
          <article class="photos-front">
            <img src="/static/shopNoFuture.jpg" alt="shop" />
            <h5>Shop</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/music">
          <article class="photos-front">
            <img src="/static/Jeb_and_Iwa.png" alt="music" />
            <h5>Music</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/calculator">
          <article class="photos-front">
            <img src="/static/primes.jpg" alt="calculator" />
            <h5>Calculator</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/programming">
          <article class="photos-front">
            <img src="/static/luke.png" alt="programming" />
            <h5>Programming</h5>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/knitting">
          <article class="photos-front">
            <img src="/static/lopakjoll.png" alt="knitting" />
            <h5>Knitting</h5>
          </article>
        </a>
      </div>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.facebook.com/ewa.kuacja.9" target="_blank">
          <article class="photos-front">
            <img src="/static/facebook.png" alt="facebook" />
            <h5>Facebook</h5>
          </article>
        </a>
      </div>


</section>


{% endblock %}