{% extends 'base.html' %}
{% block content %}

<section id="cards-home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/contact">
          <article class="photos-front">
            <img src="/static/rishikesh.jpg" alt="contact" />
            <h3>Contact</h3>
            Send me a message, Jedi!
          </article>

        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/yoga">
          <article class="photos-front">
            <img src="/static/yoga.jpg" alt="yoga" />
            <h3>Yoga</h3>
            About my yoga schedule
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/shop">
          <article class="photos-front">
            <img src="/static/shopNoFuture.jpg" alt="shop" />
            <h3>Shop</h3>
            Items that increase flexibility!
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/music">
          <article class="photos-front">
            <img src="/static/Jeb_and_Iwa.png" alt="music" />
            <h3>Music</h3>
            Does portfolio without music exist?
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/calculator">
          <article class="photos-front">
            <img src="/static/primes.jpg" alt="calculator" />
            <h3>Calculator</h3>
            Play with prime numbers
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/programming">
          <article class="photos-front">
            <img src="/static/luke.png" alt="programming" />
            <h3>Programming</h3>
            What this website is about
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/knitting">
          <article class="photos-front">
            <img src="/static/lopakjoll.png" alt="knitting" />
            <h3>Knitting</h3>
            Things I have knitted
          </article>
        </a>
      </div>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.facebook.com/ewa.kuacja.9" target="_blank">
          <article class="photos-front">
            <img src="/static/facebook.png" alt="facebook" />
            <h3>Facebook</h3>
            I'm on Facebook
          </article>
        </a>
      </div>


</section>
</div>
</div>

{% endblock %}