{% extends 'base.html' %}
{% block content %}


<section>
  <table class="music-table">
    <tr>
      <td>
        <iframe src="https://www.youtube.com/embed/tdeYYNdu2FM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </td>
      <td>
        Music is an another important part of my life.
        I did my BA with Artistic Education in Musical Art.
        Recently I’m fully engaged with a "Żeb and Iwa" project,
        where I play the harmonium and sing. We mix popular song with indian ragas and wrap them with ambient music.
        <br>
        Check us out: <a href="https://youtu.be/4ET4dIS5BDQ" target="_blank">Here!</a>
      </td>
    </tr>
  </table>
</section>





{% endblock %}