{% extends 'base.html' %}
{% block content %}
{% load user_agents %}

{% if request|is_pc or request|is_tablet %}


<section>
  <table class="music">
    <tr>
      <td>
        <iframe src="https://www.youtube.com/embed/tdeYYNdu2FM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </td>
      <td>
        Music is an another important part of my life.
        I did my BA with Artistic Education in Musical Art.
        My main project these days is "Żeb and Iwa",
        where I play the harmonium and sing. We mix popular songs with Indian ragas and ambient music.
        <br><br>
        Check us out: <a href="https://youtu.be/4ET4dIS5BDQ" target="_blank">Here!</a>
      </td>
    </tr>
  </table>
</section>
{% endif %}

{% if request|is_mobile %}
<section class="music">
  Music is an another important part of my life.
  I did my BA with Artistic Education in Musical Art.
  My main project these days is "Żeb and Iwa",
  where I play the harmonium and sing. We mix popular songs with Indian ragas and ambient music.
  <br><br>
  <iframe src="https://www.youtube.com/embed/tdeYYNdu2FM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>


{% endif %}
{% endblock %}