{% extends 'base.html' %}
{% block content %}
{% load user_agents %}

{% if request|is_pc or request|is_tablet %}
<section>
  <table class="programming">
    <tr>
      <td>
        <img src="/static/coderslab.png" />
      </td>
      <td>
        In the beginning of the pandemic I decided to challenge myself,
        so I signed up to a seven-months long intense programming course.<br><br>
        During this time I’ve learnt:
        <ul>
          <li>How to code in Python.</li>
          <li>How to build a website based on Django.</li>
          <li>The basics of HTML and CSS.</li>
          <li>The basics of JavaScript and jQuery.</li>
          <li>How to work with Databases.</li>
        </ul>
      </td>

    </tr>

  </table>
</section>
{% endif %}

{% if request|is_mobile %}
<section class="programming">
  In the beginning of the pandemic I decided to challenge myself,
  so I signed up to a seven-months long intense programming course.<br><br>
  During this time I’ve learnt:
  <ul>
    <li>How to code in Python.</li>
    <li>How to build a website based on Django.</li>
    <li>The basics of HTML and CSS.</li>
    <li>The basics of JavaScript and jQuery.</li>
    <li>How to work with Databases.</li>
  </ul>

  <img src="/static/coderslab.png" />


</section>


{% endif %}

<section class="programming-text">
  As a final project I built my own website from a scratch.<br>
  It gave me a lot of joy, satisfaction and frustration, realising how little I knew.
  This prompted me to further my studies, enrolling in a class at HarvardX and Udemy where I learnt more about Front-end developing.
  I figured out that it gives me more joy than digging deeper into back-end algorithms, at least for now.

  <br><br>
  I made this website to practice my programming skills. This website is in a state of constant change.
  In the beginning it was fully based on Python and HTML.
  Now, JavaSrcipt and jQuerry are taking a decent part of the code,
  the CSS file adds new colours and I need three browsers to monitor its look ;)


</section>

{% if request|is_mobile %}
<img src="/static/Luke_and_me.png" />

{% endif %}


{% endblock %}