{% extends 'base.html' %}
{% block content %}

<p class="description"><br>
  In the beginning of the pandemic I decided to challenge myself, <br>
  so I signed up to a seven-months long intense programming course.<br>
  During this time I’ve learnt:
</p>
<div class="wrapper">
  <ul>
    <li>How to code in Python.</li>
    <li>How to build a website based on Django.</li>
    <li>Basics of HTML and CSS.</li>
    <li>Basics of JavaScript and jQuery.</li>
    <li>Working with Databases.</li>
  </ul>
</div>
<p><br>
  As a final project I built my own website, from a scratch.<br>
  It gave me a lot of joy, satisfaction and frustration, realising how little I knew. <br>
  This prompted me to further my studies, enrolling in a class at HarvardX,<br>
  where I've honed my knowledge of front end website design <br>
  and the Django framework.</p>
<img class="center" src="/static/CodersLabDiploma.png"><br><br>

{% endblock %}