{% extends 'base.html' %}
{% block content %}
<section class="shop">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <table>
          <tr>
            <td class="carousel2">
              <img src="/static/carousel-shop-1.jpg">
            </td>

            <td class="carousel2">
              <img src="/static/wood-background2.jpg">
            </td>
          </tr>
        </table>
      </div>

      <div class="carousel-item">
        <table>
          <tr>
            <td class="carousel2"><img src="/static/carousel-shop-6.jpg">
            </td>
            <td class="carousel2"><img src="/static/wood-background3.jpg">
            </td>
          </tr>
        </table>
      </div>

      <div class="carousel-item">
        <table>
          <tr>
            <td class="carousel2"><img src="/static/kosmonatka.jpg">
            </td>
            <td class="carousel2"><a href="https://kosmonatka.net" target="_blank">
                <img src="/static/wood-background4.jpg"></a>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>

<section id="safety">
  After clicking on a photo you will be directed to my e-shop <a href="https://www.nofuture.yoga/" target="_blank">nofuture.yoga</a> <br>
  where you can safely purchase the items. <br>
</section>

<section id="cards-shop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/black-t-shirt-inhale-exhale" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/InhaleExhaleBlackTshirt.jpg" alt="InhaleExhaleBlackTshirt" />
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/white-t-shirt-inhale-exhale" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/InhaleExhaleWhiteTshirt.jpg" alt="InhaleExhaleWhiteTshirt" />
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/black-t-shirt-no-future-just-yoga" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureBlackTshirt.jpg" alt="NoFutureBlackTshirt" />
          </article>
        </a>
      </div>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/white-t-shirt-no-future-just-yoga" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureWhiteTshirt.jpg" alt="NoFutureWhiteTshirt" />
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/black-top-inhale-exhale" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/InhaleExhaleBlackTop.jpg" alt="InhaleExhaleBlackTop" />
          </article>

        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/white-top-inhale-exhale" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/InhaleExhaleWhiteTop.jpg" alt="InhaleExhaleWhiteTop" />
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/white-top-no-future-just-yoga-1" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureWhiteTop.jpg" alt="NoFutureWhiteTop" />
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/white-top-no-future-just-yoga" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureBlackTop.jpg" alt="NoFutureBlackTop" />
          </article>
        </a>
      </div>



      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/no-future-yoga-gymsac" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureGymsack.jpg" alt="NoFutureGymsack" />
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/no-future-yoga-tote-bag" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/NoFutureBag.jpg" alt="NoFutureBag" />
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/no-future-a3-poster" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/poster-nofuture.jpg" alt="poster-nofuture" />
          </article>
        </a>
      </div>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.nofuture.yoga/product-page/inhale-peace-exhale-release-a3-poster" target="_blank">
          <article class="photos-front">
            <img src="/static/shop/poster_inhale.jpg" alt="poster_inhale" />
          </article>
        </a>
      </div>

</section>


{% endblock %}