{% extends 'base.html' %}
{% block content %}
<section class="shop">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <table>
          <tr>
            <td class="carousel2">
              <img src="/static/carousel-shop-1.jpg">
            </td>

            <td class="carousel2">
              <img src="/static/wood-background2.jpg">
            </td>
          </tr>
        </table>
      </div>
      <div class="carousel-item">
        <table>
          <tr>
            <td class="carousel2"><img src="/static/carousel-shop-6.jpg">
            </td>
            <td class="carousel2"><img src="/static/wood-background3.jpg">
            </td>
          </tr>
        </table>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>

<section id="cards-home">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/contact">
          <article class="photos-front">
            <img src="/static/rishikesh.jpg" alt="contact" />
            <h5>Contact</h5>
          </article>

        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/yoga">
          <article class="photos-front">
            <img src="/static/yoga.jpg" alt="yoga" />
            <h5>Yoga</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/shop">
          <article class="photos-front">
            <img src="/static/shopNoFuture.jpg" alt="shop" />
            <h5>Shop</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/music">
          <article class="photos-front">
            <img src="/static/Jeb_and_Iwa.png" alt="music" />
            <h5>Music</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/calculator">
          <article class="photos-front">
            <img src="/static/primes.jpg" alt="calculator" />
            <h5>Calculator</h5>
          </article>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/programming">
          <article class="photos-front">
            <img src="/static/luke.png" alt="programming" />
            <h5>Programming</h5>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="/knitting">
          <article class="photos-front">
            <img src="/static/lopakjoll.png" alt="knitting" />
            <h5>Knitting</h5>
          </article>
        </a>
      </div>


      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a href="https://www.facebook.com/ewa.kuacja.9" target="_blank">
          <article class="photos-front">
            <img src="/static/facebook.png" alt="facebook" />
            <h5>Facebook</h5>
          </article>
        </a>
      </div>


</section>


{% endblock %}